/*CSS Youcode pour le fichier index.html*/
img{
    height: 50px;
}
.toto{
    background-Color: rgb(230, 230, 230);
    width: 100%;
    height: 300px;
}

.trolo{
    position: relative;

    top: 200px;
}

.title{
    font-weight: 100;
   
}

.videoTitle{
    overflow: auto;
}

.youtube{
    margin-top: 20px;
    margin-bottom: 20px;
}

.video_description{
    font-weight: 100;
}
