/*CSS Youcode pour le fichier index.html*/

.toto{
    background-Color: rgb(230, 230, 230);
    width: 100%;
    height: 300px;
}

.trolo{
    position: relative;

    top: 200px;
}

.title{
    font-weight: 100;
   
}

.videoTitle{
    overflow: auto;
}