/*CSS Youcode pour le fichier index.html*/
img{
    height: 70px;
}

.choix{
    position: relative;
    bottom: 20px;
}

.search{
    color: white;
}



.title_card_modif{
white-space: nowrap;
      width: 100%; /* à modifier selon vos besoins */
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; 
}


.icone{
    font-size: 30px;
    
}

.card_css{
    width: 100%;
    height: 100%;
}

.explain{
    width: 100%;
    
}

.text_explain{
    text-align: center;
    color: rgba(0,0,0,0.4);
    font-weight: 300;
}

.text_explain a{
    color: #FF0603 ;
}


/*  préparation de l'about dans la page home avec  
    les techno utiliser
*/
.about{
    width: 100%;
    height: 500px;
   display: block;
    margin-bottom: 100px;
}


.explanation{
    width: 100%;
}

.text_explanation{
    font-size: 3em;
    font-weight: 100;
}

.tecnho_use{

}

.texte_about{
    font-size: 2em;
    font-weight: 100;
}

.text_description{
    font-weight: 400;
    
}

i{
    color: white;
}

.position_container{
    position: relative;
    bottom: 100px;
}

.position_recherche{
    position: relative;
    bottom: 150px;
}



@media screen and (min-width: 1001px){
  .toto{
  
    z-index: 0;
    position: absolute;
    background-image: url(background/banniere_youcode_fusion.svg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-origin: border-box;
    width: 100%;
    height: 450px;
}

}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .toto{
  
    z-index: 0;
    position: absolute;
    background-image: url(background/banniere_youcode_tablette_fusion.svg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-origin: border-box;
    width: 100%;
    height: 450px;
}

}

@media screen and (max-width: 200px) {
  .toto{
  
    z-index: 0;
    position: absolute;
    background-image: url(background/banniere_youcode_fusion.svg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-origin: border-box;
    width: 100%;
    height: 450px;
}

}


.flou{
  
    z-index: -1;
    background-image: url(background/flou.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-origin: border-box;
    width: 100%;
    height: 540px;
}




.position_search{
    position: relative;
    bottom:180px;
    z-index: 1;
}

.title{
    font-weight: 100;
   
}

.videoTitle{
    overflow: auto;
}

.youtube{
    margin-top: 20px;
    margin-bottom: 20px;
}

.video_description{
    font-weight: 100;
}

.swag.ng-enter { 
  -webkit-animation: fadeInUp 1.5s;
  -moz-animation: fadeInUp 1.5s;
  -o-animation: fadeInUp 1.5s;
  -ms-animation: fadeInUp 1.5s;
}
.swag.ng-leave { 
  -webkit-animation: fadeInUp 1.5s;
  -moz-animation: fadeInUp 1.5s;
  -o-animation: fadeInUp 1.5s;
  -ms-animation: fadeInUp 1.5s;
}

.cat.ng-enter {
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -o-animation: fadeInUp 1s;
  -ms-animation: fadeInUp 1s;
}