      <div class="container">
        <!-- Page Content goes here -->
        <h1 class="index_construction">This page is under construction</h1>
        <center>
            <img src="img/construction.png" alt="logo construction">
        </center>
      </div>

      <div class="row container">
        <div class="explanation">
        <h3 class="center-align about_title">Who are we?</h3>
        </div>
        <!-- Pierre's Card -->
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-content text-grey text-darken-3 about_contentCard">
              <center><img class="about_images responsive-img us_photo" src="https://pierrezemb.fr/img/myself.png"></center>
              <span class="card-title about_cardTitle col s12 m12 l12">Pierre Zemb</span>
              <p class="about_teamDescription">Hi! My name is Pierre Zemb, and I'm a French student in a graduate school of engineering science called ISEN where I'm currently studying Software Engineering.<br><br></p>
              <p class="about_teamDescription"> I'm really enjoying coding in C++, Java or Go and ship them with Docker, but I always end up developping Web apps like this one <i class="tiny mdi-social-mood"></i><br><br></p>
              <p class="about_teamDescription">Checkout my twitter and my website for more info!</p>
            </div>
            <div class="card-action">
              <a class="red-text col s12 m12 l12 about_cardWebsite" target="_blank" href="https://pierrezemb.fr/">My website</a>
              <a class="red-text col s12 m12 l12 about_cardTwitter" target="_blank" href='https://twitter.com/PierreZ'>My Twitter account</a>
            </div>
          </div>
        </div>
        <!-- Alexis's Card -->
        <div class="col s12 m6 l6">
          <div class="card ">
            <div class="card-content text-grey text-darken-3 about_contentCard">
              <center><img class="about_images circle responsive-img" src="img/alexis-H.jpg"></center>
              <span class="card-title about_cardTitle col s12 m12 l12">Alexis Hellouin</span>
              <p class="about_teamDescription">Hello, my name is Alexis and I am a french student in engineering school. I like web and software development, and also discovering new framework.<br><br></p>
              <p class="about_teamDescription"> I'm really enjoying coding in Java, Android and I try new language when I have the time (next is C++). <br><br></p>
              <p class="about_teamDescription">You can chack my twitter and linkedIn account for more info!</p>
            </div>
            <div class="card-action about_link_color">
              <a class="red-text col s12 m12 l12 about_cardWebsite" target="_blank" href="https://fr.linkedin.com/pub/alexis-hellouin/b1/392/963">My LinkedIn</a>
              <a class="red-text col s12 m12 l12 about_cardWebsite" target="_blank" href='https://twitter.com/alexishellouin'>My Twitter account</a>
            </div>
          </div>
        </div>
        <!-- Steven's Card -->
        <div class="col s12 offset-m3 m6 offset-l3 l6">
          <div class="card ">
            <div class="card-content text-grey text-darken-3 about_contentCard">
              <center><img class="about_images responsive-img circle" src="../img/steven.jpg"></center>
              <span class="card-title about_cardTitle col s12 m12 l12">Steven Watremez</span>
              <p class="about_teamDescription">Hi! My name is Steven Watremez, and I'm a French student too. In same cursus like Pierre and Alexis.<br><br></p>
              <p class="about_teamDescription"> I like coding for the web. It is really awesome to inovate and learn new technologies like AngularJS or Polymer. I'm web designer for my extra-activity and I like it. I designed this web app.<br><br></p>
              <p class="about_teamDescription">Checkout my twitter and my website for more info!</p>
            </div>
            <div class="card-action">
              <a class="red-text col s12 m12 l12 about_cardWebsite" target="_blank" href="https://watremez.fr/">My website</a>
              <a class="red-text col s12 m12 l12 about_cardTwitter" target="_blank" href='https://twitter.com/StevenWatremez'>My Twitter account</a>
            </div>
          </div>
        </div>
      </div>