      <div class="container">
        <!-- Page Content goes here -->
        <h1 class="construction"> Page en Construction </h1>
        <center>
            <img src="img/construction.png" alt="logo construction">
        </center>
      </div>

      <div class="row container">
        <div class="explanation">
        <p class="center-align text_explanation">Who are we?</p>
        </div>
        <div class="col s12 m4 l4">
          <div class="card ">
            <div class="card-content text-grey text-darken-3">
              <center><img class="responsive-img us_photo" src="https://pierrezemb.fr/img/myself.png"></center>
              <center><span class="card-title">Pierre Zemb</span></center>
              <p>Hi! My name is Pierre Zemb, and I'm a French student in a graduate school of engineering science called ISEN where I'm currently studying Software Engineering.<br><br></p>
              <p> I'm really enjoying coding in C++, Java or Go and ship them with Docker, but I always end up developping Web apps like this one <i class="tiny mdi-social-mood"></i><br><br></p>
              <p>Checkout my twitter and my website for more info!</p>
            </div>
            <div class="card-action about_link_color">
              <center><a class="red-text" target="_blank" href="https://pierrezemb.fr/">My website</a>
                <a class="red-text" target="_blank" href='https://twitter.com/PierreZ'>My Twitter account</a></center>
              </div>
            </div>
          </div>
          
          <div class="col s12 m4 l4">
          <div class="card ">
            <div class="card-content text-grey text-darken-3">
              <center><img class="responsive-img us_photo" src="https://pierrezemb.fr/img/myself.png"></center>
              <center><span class="card-title">Steven Watremez</span></center>
              <p>Hi! My name is Steven Watremez, and I'm a French student too. In a same cursus like Pierre and Alexis<br><br></p>
              <p> I like coding for the web. It is really awesome to inovate and learn new technologies like AngularJS or Polymer. I'm web designer for my extra-activity and I like it. I designed this web app.<br><br></p>
              <p>Checkout my twitter and my website for more info!</p>
            </div>
            <div class="card-action about_link_color">
              <center><a class="red-text" target="_blank" href="https://watremez.fr/">My website</a>
                <a class="red-text" target="_blank" href='https://twitter.com/StevenWatremez'>My Twitter account</a></center>
              </div>
            </div>
          </div>
        </div>