        <div id="SoMuchChannels" class="container">
              <!-- Page Content goes here -->
            <div class="row">
              <div class="col s10 m10 l10 valign-wrapper">
                <h3 class="valign youcode_channels">YouCode channels</h5><a ng-click="initiate()" href="#">swag</a>
              </div>
              <div class="progress col S12 m12 l12" ng-if="unicorn">
                  <div class="indeterminate"></div>
              </div>
            </div>
             <div class="row">
                <div class="col s12 grid-example">
                    <ul class="collapsible" data-collapsible="accordion" >
                        <li class="col s12" ng-repeat="channel in channels track by $index">
                          <div class="collapsible-header"><i class="mdi-hardware-tv"></i>
                          <div class="col s8 videoTitle">{{channel.channel_name}}</div>
                          </div>
                          <div class="collapsible-body">
                            <p>cool</p>
                          </div> 

                        </li>
                    </ul>      
                </div>
            </div>

        </div>    