<div id="SoMuchChannels" class="container">
  <!-- Page Content goes here -->
  <div class="row">
    <div class="col s10 m10 l10 valign-wrapper">
      <h3 class="valign channels_title">YouCode channels</h3>
    </div>
    <div class="progress col S12 m12 l12" ng-if="unicorn">
      <div class="indeterminate"></div>
    </div>
  </div>
  <div class="row">
  <!-- cards latest published viedeo -->
    <div class="col s12 m8 l6 channels_lastChannelsWhoPublishedLastVideo">
      <div class="card channels_lastChannelsWhoPublishedLastVideo">
        <div class="channels_lastChannel">
        <div class="col m6 l4 channels_lastChannelLogo">
          <img class="channels_lastChannelLogoImage z-depth-2" src="{{channel.channel_logo.url}}">
        </div>
        <div class="channels_lastChannelTitle red">
          {{channel.channel_name}}
        </div>
        <div class="channels_lastChannelBanner">
        </div>
        <!-- content : 2 last videos -->
        <div class="col s12 m12 l12 ">
          <div class="col s3 m3 l3 waves-block waves-effect waves-light">
            <a class="" href="" target="_blank">
              <img class=" channels_lastChannelVideoThumbnail z-depth-1 " src="../img/thumbnail.png">
              <div class="waves-effect waves-light red z-depth-1 channels_latsChannelYoutubeButton white-text">YOUTUBE</div>
            </a>
          </div>

          <p class="channels_lastChannelVideoTitle col s9 m9 l9">
              HTML5Devconf May 2014: Rob Dodson, Google: Polymer,the Gateway Drug to Designer-Developer Happiness
            <span class="channels_lastChannelVideoDescription">
              This is a talk from Barcelona FutureJS 2014 (http://futurejs.org). JavaScript is an incredibly versatile language and one of my favorites for rapidly building fun ...
            </span>
            <span class="channels_lastChannelVideoPublishedAt red-text right">
              publishet At
            </span>
          </p>
        </div>
        
        <div class="col s12 m12 l12">
          <div class="col s3 m3 l3 waves-block waves-effect waves-light">
            <a class="" href="" target="_blank">
              <img class="channels_lastChannelVideoThumbnail z-depth-1" src="../img/thumbnail.png">
              <div class="waves-effect waves-light red z-depth-1 channels_latsChannelYoutubeButton white-text">YOUTUBE</div>
            </a>
          </div>
          <p class="channels_lastChannelVideoTitle col s9 m9 l9">
              HTML5Devconf May 2014: Rob Dodson, Google: Polymer,the Gateway Drug to Designer-Developer Happiness
            <span class="channels_lastChannelVideoDescription">
              This is a talk from Barcelona FutureJS 2014 (http://futurejs.org). JavaScript is an incredibly versatile language and one of my favorites for rapidly building fun ...
            </span>
            <span class="channels_lastChannelVideoPublishedAt red-text right">
              publishet At
            </span>
          </p>
        </div>
      </div>
      </div>
    </div>
    <!-- cards -->
    <div class="col s6 m4 l3 " ng-repeat="channel in channels track by $index">
      <div class="card channels" ng-mouseenter="channels_show = true" ng-mouseleave="channels_show = false">
        <div class="channels_cardHover" ng-if="channels_show">
          <a href="" class="col s12 m12 l12 channels_lastChannelIconeView  waves-effect waves-light">
            <i class="mdi-action-visibility white-text small "></i>
          </a>
          <a href="" class="col s12 m12 l12 channels_lastChannelIconePlus  waves-effect waves-light">
            <i class="mdi-content-add white-text small"></i>
          </a>
        </div>
        <div class="col m6 l4 channels_channelLogo">
          <img class="channels_channelLogoImage" src="{{channel.channel_logo.url}}">
        </div>
        <div class="channels_channelTitle red">
          {{channel.channel_name}}
        </div>
        <div class="channels_channelBanner" ng-style="{'background-image': 'url({{channel.channel_banner}})'}">
        </div>
      </div>
    </div>
  </div>  
</div>  